<!DOCTYPE html>
<html lang="de-DE">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/vex.css">
    <title>Verhaltensexperimente</title>
  </head>

  <body>
    {{> navbar}}

    <!-- Site Content -->
    <main class="content">
      <section class="vex-header">
        <h1 class="vex-headline">Verhaltensexperimente</h1>
      </section>
      <section class="vex-body vex-all">
        <ul class="vex-all-list">
          {{#if errMsg}}
          <li class="item" id="err-msg">{{errMsg}}</li>
          {{/if}}
          {{#each vexperiments}}
          <li class="vex" id="{{this._id}}">
            <a href="/v/{{this._id}}" class="vex-name">{{this.name}}</a>
            <div class="vex-date">{{dateConversion this.date}}</div>
          </li>
          {{/each}}
        </ul>
      </section>
      
      <section class="vex-new-button btn-bottom-right">
        <button onclick="toggleVexCreation()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </section>
    </main>

    <section id="vex-new" class="vex-new" style="display: none;">
      <div class="vex-new-modal">
        <h2 class="vex-new-headline">Neues Verhaltensexperiment</h2>
        <form action="/v/" method="post" class="vex-new-form">
          <div class="vex-new-form-field">
            <label for="vexName">Name</label>
            <input type="text" name="vexName" id="vexName">
          </div>
          <div class="vex-new-form-field">
            <input type="submit" value="Erstellen">
          </div>
        </form>
      </div>
    </section>

    <script>
      document.getElementById('vex-new').addEventListener('click', e => {
        if(e.target == e.currentTarget) toggleVexCreation()
      })

      const checkVexCreation = () => {
        document.getElementById('vex-new').style.display = new URLSearchParams(window.location.search).get('neues-vex') ? 'flex' : 'none';
      }
      checkVexCreation();

      const toggleVexCreation = () => {
        const searchParams = new URLSearchParams(window.location.search);

        if(searchParams.get('neues-vex')) searchParams.delete('neues-vex');
        else searchParams.set('neues-vex', '1');

        window.history.replaceState({}, '', `${location.pathname}?${searchParams}`);

        checkVexCreation();
      }
    </script>

    {{> footer}}
  </body>

  <script src="/style/style.js"></script>

</html>