<!DOCTYPE html>
<html lang="de-DE">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/vex.css">
    <title>Verhaltensexperimente</title>
  </head>

  <body>
    {{> navbar}}

    <!-- Site Content -->
    <main class="content vex">
      {{#with vex}}
      <section class="vex-header">
        <h1 class="vex-headline">{{name}}</h1>
        <h2 class="vex-date">{{dateConversion date}}</h2>
      </section>
      <section class="vex-body">
        <div class="vex-field">
          <h2 class="vex-label">Situation</h2>
          <p class="vex-data">{{situation}}</p>
          <a href="/v/new/{{_id}}/pre" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Personen</h2>
          <p class="vex-data">{{personen}}</p>
          <a href="/v/new/{{_id}}/pre" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Sicherheitsverhalten</h2>
          <p class="vex-data">{{sicherheitsverhalten}}</p>
          <a href="/v/new/{{_id}}/pre" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Befürchtungen</h2>
          <p class="vex-data">{{befürchtungen}}</p>
          <a href="/v/new/{{_id}}/pre" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Experiment</h2>
          <p class="vex-data">{{experiment}}</p>
          <a href="/v/new/{{_id}}/pre" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Ergebnis</h2>
          <p class="vex-data">{{ergebnis}}</p>
          <a href="/v/new/{{_id}}/post" class="vex-edit">Bearbeiten</a>
        </div>
        <div class="vex-field">
          <h2 class="vex-label">Lernerfahrungen</h2>
          <p class="vex-data">{{lernerfahrungen}}</p>
          <a href="/v/new/{{_id}}/post" class="vex-edit">Bearbeiten</a>
        </div>
      </section>
      {{/with}}
    </main>

    {{> footer}}
  </body>

  <script src="../style/style.js"></script>

</html>