<!DOCTYPE html>
<html lang="de-DE">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/6ea270afe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/vex.css">
    <title>{{vex.name}} - Verhaltensexperiment</title>
  </head>

  <body>
    {{> navbar}}

    <main class="content vex-pre">
      {{#with vex}}
      <section class="vex-header">
        <h2 class="vex-date">{{dateConversion date}}</h2>
        <h1 class="vex-headline">{{name}}</h1>
      </section>
      <section class="vex-body">
        <form action="/v/new/{{_id}}/pre" method="post" class="vex-form vex-pre-form">
          <div class="vex-form-field">
            <label for="situation">Situation</label>
            <input type="text" name="situation" class="vex-input" value="{{situation}}">
          </div>
          <div class="vex-form-field">
            <label for="personen">Personen</label>
            <input type="text" name="personen" class="vex-input" value="{{personen}}">
          </div>
          <div class="vex-form-field">
            <label for="sicherheitsverhalten">Sicherheitsverhalten</label>
            <input type="text" name="sicherheitsverhalten" class="vex-input" value="{{sicherheitsverhalten}}">
          </div>
          <div class="vex-form-field">
            <label for="bef端rchtungen">Bef端rchtungen</label>
            <input type="text" name="bef端rchtungen" class="vex-input" value="{{bef端rchtungen}}">
          </div>
          <div class="vex-form-field">
            <label for="experiment">Experiment</label>
            <input type="text" name="experiment" class="vex-input" value="{{experiment}}">
          </div>
          <div class="vex-form-field btn-bottom-right">
            <input type="submit" value=">">
          </div>
        </form>
      </section>
      {{/with}}
    </main>

    {{> footer}}
  </body>

  <script src="../style/style.js"></script>

</html>